services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: desafio_app
    command: bash -c "rm -f tmp/pids/server.pid && bin/rails server -b 0.0.0.0 -p 3000"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    stdin_open: true
    tty: true
    working_dir: /app
    networks:
      - desafio_network

  db:
    image: postgres:14-alpine
    container_name: desafio_db
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: app_development
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    networks:
      - desafio_network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  desafio_network:
    name: desafio_network
